* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(222, 217, 217);
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}

.header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 15px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-radius: 10px;
}

.card h2 {
    color: black;
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

canvas {
    max-height: 300px;
}

.tabel-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: rgb(63, 53, 130);
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f5f9;
}