* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(222, 217, 217);
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}

.header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 15px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-radius: 10px;
}

.card h2 {
    color: black;
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

canvas {
    max-height: 300px;
}
