<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring Aktivitas Akustik</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="header">
        <h2>Monitoring Aktivitas Akustik</h2>
    </div>

    <div class="card">
        <p class="label" id="Status">Status Alat : Memuat...</p>
        <p class="label" id="hari-tanggal">Hari, Tanggal : -</p>
        <p class="value" id="jam">Waktu : -</p>
        <hr style="margin: 10px 0; border: 0; border-top: 1px solid #ddd;">
        <p class="label">Intensitas Saat Ini: <span id="db-now">0</span> dB</p>
        <p class="label">Max Peak: <span id="db-max" style="color: red;">0</span> dB</p>
    </div>

    <div class="card">
        <h2>Grafik Intensitas Bunyi</h2>
        <canvas id="Grafik"></canvas>
    </div>

    <div class="card">
        <h2>Log Aktivitas Bunyi</h2>
        <div class="tabel-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Hari, Tanggal</th>
                        <th>Waktu</th>
                        <th>Nilai ADC</th>
                        <th>Intensitas Bunyi (dB)</th>
                    </tr>
                </thead>
                <tbody id="data-log"></tbody>
            </table>
        </div>
    </div>
</body>
</html>